<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETHNC</title>
    <!-- <link rel="stylesheet" href="/landingstyle.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="Ethnic_Favicon.webp" type="image/x-icon">
</head>

<body>
    <header>
        <div id="navbar">
            <div id="logo">
                <h1 class="name">ETHNC</h1>
            </div>
        </div>

    </header>

    <main>
        <div id="pic1">
            <img src="/images/pic1.jpeg" class="img1" alt="">
        </div>

        <div class="img-content">
            <h1>CAPSULE COLLECTION - A/W '24</h1>
            <p>Discover our collection of printed and embroidered two-piece & three-piece outfits, featuring intricate
                patches on the sleeves and borders. Each set includes stylish uppers under lining and comfortable
                trousers, crafted from high-quality viscose and cotton, available in a wide range of hues to suit your
                unique style.</p>
        </div>

        <div class="mainn">
            <!-- First Pic -->
            <div class="pic">
                <img src="/images/pic2.jpeg" alt="Dress">
            </div>
            <div class="pic-content">
                <p class="item-title">EMBROIDERED SUIT</p>
                <p class="item-price">PKR 19,990</p>
            </div>

            <!-- Second Pic -->
            <div class="pic">
                <img src="/images/pic3.jpeg" alt="Dress">
            </div>
            <div class="pic-content">
                <p class="item-title">EMBROIDERED SUIT</p>
                <p class="item-price">PKR 15,990</p>
            </div>

            <!-- Third Pic -->
            <div class="pic">
                <img src="/images/pic4.jpeg" alt="Dress">
            </div>
            <div class="pic-content">
                <p class="item-title">EMBROIDERED SUIT</p>
                <p class="item-price">PKR 17,990</p>
            </div>

            <!-- Fourth Pic -->
            <div class="pic">
                <img src="/images/pic5.jpeg" alt="Dress">
            </div>
            <div class="pic-content">
                <p class="item-title">EMBROIDERED SUIT</p>
                <p class="item-price">PKR 22,990</p>
            </div>

            <!-- Fifth and Sixth Pic -->
            <div class="pic">
                <img src="/images/pic6.jpeg" alt="Dress">
            </div>
            <div class="pic-content">
                <p class="item-title">EMBROIDERED SUIT</p>
                <p class="item-price">PKR 22,990</p>
            </div>

            <div class="container">
                <div class="img7">
                    <img src="/images/pic7.jpeg" alt="">
                    <div class="pic-content2">
                        <p class="item-title">EMBROIDERED SUIT</p>
                        <p class="item-price">PKR 22,990</p>
                    </div>
                </div>

                <div class="img8">
                    <img src="/images/pic8.jpeg" alt="">
                    <div class="pic-content2">
                        <p class="item-title">EMBROIDERED SUIT</p>
                        <p class="item-price">PKR 22,990</p>
                    </div>
                </div>


                <div class="img9">
                    <img src="/images/pic9.jpeg" alt="">
                    <div class="pic-content2">
                        <p class="item-title">EMBROIDERED SUIT</p>
                        <p class="item-price">PKR 22,990</p>
                    </div>
                </div>
            </div>


            <div class="pic10">
                <div>
                    <img src="/images/pic10.jpeg" alt="">
                </div>

            </div>
            <div class="pic-content3">
                <p class="item-title">EMBROIDERED SUIT</p>
                <p class="item-price">PKR 22,990</p>
            </div>




            <div class="pic">
                <img src="/images/pic11.jpeg" alt="Dress">
            </div>
            <div class="pic-content">
                <p class="item-title">EMBROIDERED SUIT</p>
                <p class="item-price">PKR 22,990</p>
            </div>

            <div class="pic">
                <img src="/images/pic12.jpeg" alt="Dress">
            </div>
            <div class="pic-content">
                <p class="item-title">EMBROIDERED SUIT</p>
                <p class="item-price">PKR 22,990</p>
            </div>

            <div class="pic">
                <img src="/images/pic13.jpeg" alt="Dress">
            </div>
            <div class="pic-content">
                <p class="item-title">EMBROIDERED SUIT</p>
                <p class="item-price">PKR 22,990</p>
            </div>

            <div class="pic">
                <img src="/images/pic14.jpeg" alt="Dress">
            </div>
            <div class="pic-content">
                <p class="item-title">EMBROIDERED SUIT</p>
                <p class="item-price">PKR 22,990</p>
            </div>


            <div class="pic">
                <img src="/images/pic15.jpeg" alt="Dress">
            </div>
            <div class="pic-content pic15">
                <p class="item-title">EMBROIDERED SUIT</p>
                <p class="item-price">PKR 22,990</p>
            </div>


            <div class="pic10">
                <div>
                    <img src="/images/pic16.jpeg" alt="">
                </div>
            </div>
            <div class="pic-content3">
                <p class="item-title">EMBROIDERED SUIT</p>
                <p class="item-price">PKR 22,990</p>
            </div>

        </div>



        <div class="above-footer-section">
            <div class="inn">
                <p>NO MORE PRODUCTS</p>
            </div>
        </div>
    </main>

    <hr>

    <footer>
        <div class="footer-container">
        
            <div class="footer-column newsletter">
                <h4>JOIN OUR NEWSLETTER</h4>
                <a href="#">OUR BRAND</a><br>
                <a href="#">SHOP WITH US</a>
            </div>
        </div>

        <div class="footer-container-2">
            <div class=" apps">
                <h4>OUR APPS</h4>
                <a href="#"><i class="fa-brands fa-apple"></i> Apple Store</a>
                <a href="#"><i class="fa-brands fa-google-play"></i> Google Play</a>
            </div>

            <div class=" social">
                <a href="#">FACEBOOK</a>
                <a href="#">INSTAGRAM</a>
                <a href="#">YOUTUBE</a>
                <a href="#">SNAPCHAT</a><br>
                <p>SCAN BARCODE <i class="fa-solid fa-barcode"></i></p>
            </div>

            <div class="contact">
                <h4>CUSTOMER SERVICES</h4>
                <p>NEED TO TALK TO US?<br>Mon - Fri 9:00 to 5:00 PST.</p>
                <div class="contact-icons">
                    <i class="fa-solid fa-mobile"></i>
                    <i class="fa-regular fa-envelope"></i>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Ethnic &copy 2024. All Rights Reserved</p>
        </div>
    </footer>


</body>

</html>